.main_div{
  padding: 0 15px 15px;
  border: 1px solid white;
  border-radius: 10px;
  margin: 2% 5% 0 5%;
  height: 85%;
  background-color: white;
  box-shadow: 8px 8px 20px rgba(0, 0, 0, 0.5);
  display: block;
  overflow-y: auto;
}
.password{
  float: left;
  width: 100%;
}
.profile_pic{
  width: 100%;
  float: left;
  margin-top: 40px;
}
.profile_pic img{
  max-width: 100px;
  float: left;
  margin-right: 20px;
}
button{
  width: 60px;
  height: 30px;
  box-shadow: inset 0 1px 0 0 #54a3f7;
  background: linear-gradient(to bottom, #007dc1 5%, #0061a7 100%);
  background-color: #007dc1;
  border-radius: 3px;
  border: 1px solid #124d77;
  display: block;
  cursor: pointer;
  color: #ffffff;
  font-family: Arial;
  font-size: 13px;
  text-decoration: none;
  text-shadow: 0 1px 0 #154682;
}
.setup{
  height: 50%;
}
hr{
  width: 80%;
}

.badges{
  height: 25%;
  width: 100%;
  float: left;
}
.badge{
  width: 50px;
  height: 50px;
  border: 1px solid black;
  border-radius: 100%;
  float: left;
  margin-left: 5px;
}
.badges_table, th, td {
  border: 1px solid black;
}
.badges_table th{
  width: 20%;
}
.badges_table_div{
  height: 25%;
  float: left;
}
#message{
  background: red;
  color: #ffffff;
  display: none;
  width: 200px;
  margin: 5px;
  padding-left: 5px;
}