h1{
  text-align: center;
}

.main_div{
  padding: 0 15px 15px;
  border: 1px solid white;
  border-radius: 10px;
  margin: 2% 5% 0 5%;
  height: 85%;
  background-color: white;
  box-shadow: 8px 8px 20px rgba(0, 0, 0, 0.5);
  display: block;
  overflow-y: auto;
}
.tops_wrap{
  width: 85%;
  height: 450px;
  margin: auto;
}
.top{
  text-align: center;
  border: solid 1px whitesmoke;
  border-radius: 8px;
  width: 15%;
  height: 300px;
}
.top img{
  max-width: 100%;
  max-height: 45%;
}
.second{
  float: left;
  margin: 6% 28% 0 0;
}
.first{
  float: left;
  margin: 4% 0 0 0;
}
.third{
  float: left;
  margin: 8% 0 0 25%;
}
.first_hr{
  width: 80%;
}
.second_hr{
  width: 80%;
}

.places_wrap{
  width: 85%;
  height: 270px;
  margin: auto;
}
.my_place{
  padding: 1px;
}

.place{
 height: 50px;
 border-radius: 8px;
 border: solid 1px black;
 text-align: center;
}
.place img{
  max-width: 50px;
  max-height: 50px;
  float: left;
}
.place div{
  margin: 10px;
  float: left;
  width: 3%;
}
.score{
  margin: 18px 15px 0 0;
  display: inline-block;
}
.score_place{
  margin: 18px 15px 0 0;
  float: right;
}
.places_view{
  overflow-y: auto;
  padding: 1px;
}
.places_view .place {
  width: 99.9%;
  margin-top: 10px;
}
.mobile_div{
  display: none;
}

@media screen and (max-width: 800px) {
  .mobile_div{
    display: block;
    padding: 0 15px 15px;
    border: 1px solid white;
    border-radius: 10px;
    margin: 2% 5% 0 5%;
    overflow-y: auto;
    height: 100%;
    background-color: white;
    box-shadow: 8px 8px 20px rgba(0, 0, 0, 0.5);
  }
  .main_div{
    display: none;
  }

  .first{
    float: left;
    position: unset;
    width: 100%;
    margin: 0;
    margin-top: 2%;
  }
  .second{
    float: left;
    position: unset;
    width: 100%;
    margin: 0;
    margin-top: 2%;
  }
  .third{
    float: left;
    position: unset;
    width: 100%;
    margin: 0;
    margin-top: 2%;
  }
  .my_place{
    position: unset;
    float: left;
    width: 100%;
  }
  .place{
    width: 100%;
  }
  .places_view{
    overflow: hidden;
    position: unset;
    float: left;
    width: 100%;
  }
}